html {
    height: 100%;
}

body {
    background-color: #cbcbcb;
    direction: rtl;
    height: 100%;
    font-family: Arial, sans-serif;
    font-weight: 700;
    box-sizing: border-box;
}

* {
    user-select: initial !important;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.header {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
}

.container {
    text-align: right;
    height: 100%;
    background-color: rgb(236, 235, 235);
    padding: 0;
}

.logo {
    height: 100%;
    display: flex;
}

.alert {
    width: 100%;
}

marquee {
    padding: 0;
    width: 100%;
}

p {
    width: 100%;
}

.header {
    width: 100%;
    background: url("img/header-bg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    color: #333;
    border-bottom: 4px solid #da1c23;
}

ul {
    padding: 0;
}

.nav-link {
    color: #777;
    line-height: 20px;
    font-size: 1.1em;
    padding: 10px;
}

.ad1 .ad2,
.ad3,
.live {
    position: relative;
    object-fit: fill;
    padding-top: 10px;
    padding-bottom: 20px;
    height: 90%;
    min-height: 90%;
}

#logo {
    position: relative;
    object-fit: fill;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 90%;
}