.root {
    width: 100%;
    height: 100%;
    background: url("img/background.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
  }

  body{

    background-color: #cbcbcb;
    direction: rtl;
    width: 100%;
    height: 100%;
    font-family: Arial,sans-serif;
    font-weight: 700;
    box-sizing: border-box;
  }

  *{

    user-select: initial !important;
  }

  .row{

    padding: 0px 10px;
  }

  .header{

    padding: 10px;
    display: flex;
    flex-direction: row;
  }

  .container {
    
    text-align: right;
    height: 100%;
  }

  .logo{


    width: 30%;
    height: 100%;
    display: flex;
  }

  .alert{

    width: 100%;
  }

  marquee{

    width: 100%;
  }
  p{

    width: 100%;
  }

  .ad-top{

    width: 70%;
    height: 100%;
    display: flex;
  }

  .header{

    height: 15vh;
    background: url("img/header-bg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;

  }

  nav{

    color: #333;
    border-bottom: 4px solid #da1c23;
  }

  ul{

    padding: 0;
  }
  .nav-link {

    color: #777;
    line-height: 20px;
    font-size: 1.1em;
    padding: 10px;
}

#logo{

  position: relative;
  top: 10%;
  object-fit: fill;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
